---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="wrap">
      <div id="canvas" class="matter"></div>
    </div>
    <div class="content">
      <h1>Jip <span>Lucy</span> Mieras</h1>
      <p>
        My name is Jip Lucy Mieras and I was born <span id="dateDifference"
        ></span> days ago on January 30th, 2023 to proud parents, Maarten and
        Willemijn...
      </p>
      <p>
        I am so excited to explore this new world and I can't wait to meet you
        all. If you'd like to come see me in Rotterdam, please send my parents a
        message.
      </p>
      <p>
        Should you be looking for ideas for a gift, check out my list of fun &
        favourite things below. See you soon!
      </p>
    </div>
  </main>
</Layout>

<style is:global>
  body {
    background: var(--clr-body);
  }
  main {
    display: grid;
    grid-template-rows: 50vh auto;
    grid-template-columns: auto;
    align-items: stretch;
    min-height: 100%;
    padding: 1rem;
    border-radius: var(--br-panel);
    overflow: hidden;
  }

  .wrap {
    overflow: hidden;
    background: var(--clr-canvas);
  }

  .content {
    background: var(--clr-content);
    padding: 3vw;
    z-index: 2;
  }

  /* backgrounds */
  .tan,
  .red,
  .pink,
  .blue,
  .magenta,
  .yellow,
  .purple,
  .green,
  .grey,
  .dark {
    transition: background-color 0.2s ease-in;
  }
  .tan {
    background-color: #986d4d;
  }
  .red {
    background-color: #ff4f37;
  }
  .pink {
    background-color: #f9bec4;
  }
  .blue {
    background-color: #035df3;
  }
  .magenta {
    background-color: #4e3a6b;
  }
  .yellow {
    background-color: #e3ab24;
  }
  .purple {
    background-color: #522890;
  }
  .green {
    background-color: #008858;
  }
  .grey {
    background-color: #c1c1c1;
  }
  .dark {
    background-color: var(--clr-canvas);
  }

  @media only screen and (min-width: 768px) {
    main {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: none;
      align-items: stretch;
      height: 100%;
      padding: 4vw 4vw 4vw 4vw;
      gap: 2vw;
      border-radius: 0;
    }

    .wrap {
      border-radius: var(--br-panel);
    }

    .content {
      border-radius: var(--br-panel);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let date1 = new Date("01/30/2023");
    let date2 = new Date();

    // Calculating the time difference
    // of two dates
    let Difference_In_Time = date2.getTime() - date1.getTime();

    // Calculating the no. of days between
    // two dates
    let Difference_In_Days = Math.round(
      Difference_In_Time / (1000 * 3600 * 24)
    );

    // Convert the number to a string before assigning it to textContent
    let dateDifferenceElement = document.getElementById("dateDifference");
    if (dateDifferenceElement) {
      dateDifferenceElement.textContent = Difference_In_Days.toString();
    }

    // To display the final no. of days (result)
    console.log(
      "Total number of days between dates:\n" +
        date1.toDateString() +
        " and " +
        date2.toDateString() +
        " is: " +
        Difference_In_Days +
        " days"
    );
  });
</script>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.min.js"
></script>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/matter-attractors@0.1.6/build/matter-attractors.min.js"
></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<script is:inline src="./scripts/matter.js"></script>
