---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image = "/ogimage.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} image="./ogimage.png" />
  <body>
    <slot />
    <style is:global></style>
  </body>
</html>
